<div class="row">
  <h3>Reporte:</h3>


  
  <div id="row-1" class="col-xs-12 col-md-4">
    <h3>Regions:</h3>
  </div>
  
  <div id="row-2" class="col-xs-12 col-md-4">
    <h3>Crime categories:</h3>  
  </div>
  
  <div id="bar-1" class="col-xs-12 col-md-4">
    <h3>Crime commited:</h3>  
  </div>

  <div id="time-1" class="col-xs-12 col-md-12">
    <h3>Number of crimes commited trough time:</h3>
  </div>
  
  <div id="pie-1" class="col-xs-12 col-md-6">
  </div>
  
  <div id="pie-2" class="col-xs-12 col-md-6">
  </div>
</div>
